* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#canvas1 {
  background: url('background.png');
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}
#obstacles, #bull, #egg, #toad, #larva, #toads {
  display: none;
}